.frame-container {
  height: 90vh;
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.frame-box {
  width: 45%;
  height: 600px;
  overflow-y: auto;
  border: 1px solid black;
  text-align: center;
}

.box-heading {
  min-width: 800px;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  background: black;
}

@media only screen and (max-width: 1200px) {
  .frame-container {
    flex-wrap: wrap;
  }

  .frame-box {
    width: 100%;
    margin-bottom: 40px;
  }
}
